@model DanaTask_2.Models.Task

@{
    ViewBag.Title = "EditTask";
}

<h2>Edit task on @ViewBag.Day @ViewBag.MonthString @ViewBag.Year</h2>
<form action="?" method="post">
    <input type="hidden" name="Date" value="@(Model.Date.Year)-@(Model.Date.Month)-@(Model.Date.Day)T00:00:00Z" />
    @Html.HiddenFor(model => model.Id)
    <div>
        <p>Title</p>
        @Html.EditorFor(model => model.Title)
    </div>
    <div>
        <p>Status</p>
        <select name="Status">
            @{
                string[] statuses = new string[] { "Canceled", "In Progress", "Completed" };
                foreach (string status in statuses)
                {
                    if (Model.Status == status)
                    {
                        <option value="@status" selected>@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            }
        </select>
    </div>
    <div>
        <p>Description</p>
        @Html.EditorFor(model => model.Description)
    </div>
    <div style="color: red; font-weight: bold;">
        @foreach (string error in ViewBag.Errors)
        {
            <p>@error</p>
        }
    </div>
    <input type="submit" value="Save" />
    <a href="../../Admin/Tasks">Back</a>
</form>

